* {
    margin: 0;
    padding: 0%
    
}
    

body {
    text-align: left;
    width: 50%;
    margin-left: 30%;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
    background: lightcyan;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 3px solid burlywood;
}

#nome {
    text-align: left;
}

#direita {
    text-align: right;
}


main {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: cyan;
}

main h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

main img {
    width: 200px;
    height: 235px;
}

h1, h2 {
    text-transform: uppercase;
}


footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px 20px 40px;
    background: lightgray;
    border-top: 1px solid #000;
}



footer img {

    width: 70px;
    height: 70px;
}












































































































































































































































    

















    































































    
    
    
    
    
    
    
    
    
    
    
    
    
    



























































































